#heading{
	background-color: orange;
	width: 60%;
	margin-left: 10px;
}

#content-wrapper{
	margin-left: 10px;
}

#instructions{
	background-color: #fae4cd;
	width: 60%;
}

#running-score{
	height: 100px;
}

#score{
	clear:both;
}

#randomNumber{
	float:left;
	height: 180px;
	width: 250px;
	font-size: 24px;
	font-weight: bold; 
}

#scoreboard{
	height: 180px;

}

.crystalImages{
	height: 180px;
	width: 180px;
	margin: 10px;

}